.documents ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.documents li {
    margin-bottom: 10px;
    flex-basis: calc(20% - 10px); /* Равномерное распределение элементов по ширине */
}


.documents h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.documents ul {
    list-style-type: none;
    padding-left: 0;
}
.documents a {
    color: #007bff;
    text-decoration: none;
}

.documents a:hover {
    text-decoration: underline;
}
