.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new {
    flex: 1 1 500px; /* Гибкое изменение ширины блока поста */
    max-width: 500px; /* Максимальная ширина блока поста */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.new img {
    max-width: 100%;
    height: auto;
}
